{#
/**
 * EnupalSlider plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% do view.registerAssetBundle("enupal\\slider\\assetbundles\\SliderAsset") %}

<ul class="enupal-slider" {{dataAttributes|raw}}
 {% if slider.thumbnailPager %} data-enupalslider-pager-custom = 'enupalslider-{{slider.handle}}-pager' {% endif %}>
 {% for slide in slidesElements %}
	{% if attribute(slide, htmlHandle) and attribute(slide, htmlHandle)!='' %}
		<li>
			{% if attribute(slide, linkHandle) and attribute(slide, linkHandle)!='' %}
				{% set openNewTab = attribute(slide, openLinkHandle) == 'newTabOrWindow' ? "_blank" : "_self" %}
				<div style="cursor: pointer;" onclick="window.open('{{attribute(slide, linkHandle)}}','{{openNewTab}}'); return false;">
			{% endif %}
			{{attribute(slide, htmlHandle)|raw}}
			{% if attribute(slide, linkHandle) and attribute(slide, linkHandle)!='' %}
				</div>
			{% endif %}
		</li>
	{% else %}
		<li>
			{% if attribute(slide, linkHandle) and attribute(slide, linkHandle)!='' %}
				<a href="{{attribute(slide, linkHandle)}}" {% if attribute(slide, openLinkHandle) == 'newTabOrWindow' %} target="_blank" {% endif %}>
			{% endif %}
			<img src="{{slide.getUrl()}}" title="{{slide.title}}">
			{% if attribute(slide, linkHandle) and attribute(slide, linkHandle)!='' %}
				</a>
			{% endif %}
		</li>
	{% endif %}
 {% endfor %}
</ul>

{% if slider.thumbnailPager %}
	{% set thumb = {
		mode: 'fit',
		width: 80,
		height: 80,
		quality: 100
	} %}
	<div id="enupalslider-{{slider.handle}}-pager" class="{{slider.thumbClass}}">
	 {% for slide in slidesElements %}
			<a data-slide-index="{{loop.index0}}" href="">
				<img src="{{slide.getUrl(thumb)}}" />
			</a>
	 {% endfor %}
	</div>
{% endif %}